<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Schedule</title>
</head>
<body>
    <h1>Schedule for Dr. {{ vet.user.full_name }}</h1>
    <ul>
        {% for schedule in schedules %}
            <li>
                {{ schedule.day_of_week }}: {{ schedule.start_time }} - {{ schedule.end_time }} 
                {% if schedule.available %}
                    <strong>(Available)</strong>
                    <!-- Book Appointment Link -->
                    {% if request.user.petownerprofile %}
                        <a href="{% url 'appointment:book_appointment' vet.id schedule.id %}">
                            <button>Book Appointment</button>
                        </a>
                    {% endif %}

                {% else %}
                    <strong>(Not Available)</strong>
                {% endif %}
            </li>
        {% empty %}
            <li>No schedule available</li>
        {% endfor %}
    </ul>

    <br><br>
    <a href="{% url 'appointment:vet_list' %}">Back to Vet List</a>
</body>
</html>
