<!DOCTYPE html>
<html>
<body>
    <h2>Appointment Rejected</h2>
    <p>Dear {{ appointment.pet_owner.user.username }},</p>
    
    <p>We regret to inform you that your appointment with Dr. {{ appointment.vet.user.username }} has been rejected.</p>
    
    {% if appointment.payment_status == 'refunded' %}
    <p>Your payment of NPR {{ appointment.amount_paid }} has been refunded to your original payment method.</p>
    {% elif appointment.payment_status == 'refund_failed' %}
    <p>We encountered an issue processing your refund. Our team will contact you shortly to resolve this.</p>
    <p>Store Credit Received: NPR 1000</p>
    {% endif %}
    
    <p>You may book another appointment at your convenience.</p>
    
    <p>Best regards,<br>
    PetVet Clinic Team</p>
</body>
</html>