<div class="comment reply {% if request.user == reply.user %}current-user-comment{% endif %}" id="reply-{{ reply.id }}">
    <div class="comment-content">
        <div class="comment-header">
            {% if reply.user.petownerprofile %}
            <img src="{{ reply.user.petownerprofile.human_image.url }}" alt="{{ reply.user.username }}" class="comment-author-avatar">
        {% elif reply.user.vetprofile %}
            <img src="{{ reply.user.vetprofile.vet_image.url }}" alt="{{ reply.user.username }}" class="comment-author-avatar">
        {% else %}
            <i class="fas fa-user-circle comment-author-avatar" style="font-size: 32px;"></i>  {# fallback icon #}
        {% endif %}
                    <span class="comment-author">u/{{ reply.user.username }}</span>
            <span class="comment-time">{{ reply.date|timesince }} ago</span>
        </div>
        <div class="comment-body">
            <p>{{ reply.reply }}</p>
        </div>
        <div class="comment-actions">
            {% if request.user == reply.user %}
            <button class="action-btn delete-btn" onclick="confirmDeleteReply({{ reply.id }})">
                <i class="fas fa-trash"></i> Delete
            </button>
            {% endif %}
        </div>
    </div>
</div>
